body {
  background-color: #db4237d0;
  padding: 20px;
}

h1 {
  background-color: black;
  text-align: center;
  font-family: "Indie Flower", Verdana, Arial, sans-serif;
  font-weight: 400;
  color: rgb(254, 161, 0);
}

h2 {
  text-align: center;
  font-family: "Oswald", Verdana, Arial, sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

p {
  text-align: center;
  font-size: 2em;
  font-family: "Indie Flower", Verdana, Arial, sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

img.landing-one,
img.landing-two,
img.landing-three,
img.hobbies-one,
img.hobbies-two,
img.hobbies-three {
  width: 400px;
  height: 450px;
  padding: 10px 100px 100px;
  border-radius: 50px;
}
img.anthonie-owen {
  border-radius: 20px;
  width: 400px;
  height: 350px;
  padding: 0px 700px 50px;
}

.grid {
  display: grid;
  margin-top: 10%;
  grid-template-columns: auto auto auto;
}

.landing {
  font-size: 30px;
  text-align: center;
}
.navbar {
  width: auto;
  margin: 20px auto 20px auto;
  border: 2px solid #000000;
  background-color: #db4237af;
  font-family: "Indie Flower", Verdana, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: rgb(254, 161, 0);
}
